#Example db_params file, copy to db_params.R and fill in the correct values
params.dbname <- "public"
params.host <- "localhost"
params.port <- 5432
params.user <- "postgres"
params.password<-"postgres"
