# Example db_params file, copy to db_params.R and fill in the correct values
# https://github.com/lukefi-private/luketools
# library(luketools)
# handle_credentials(method = "set", service = "SERVICE")
# 
# setup for host
# library(usethis)
# usethis::edit_r_environ(scope = "user")
# add this line to environment file
# HOST_DB2PROD = your_host_name_here
# usethis::use_git_ignore(".Renviron")

dbname <- "name"
schema <- "schema"
host <- Sys.getenv("HOST_DB2PROD", unset = NA_character_)
port <- 5432
service <- "SERVICE"
